<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.A3084236-D0EC-4EF6-B7D2-7A4DE7CF1B5E</string>
	<key>darkthemeuid</key>
	<string>theme.fileimport.A3084236-D0EC-4EF6-B7D2-7A4DE7CF1B5E</string>
</dict>
</plist>
